@font-face {
    font-family: "Montserrat-Regular";
    src: url('../../assets/fonts/montserrat/Montserrat-Regular.otf');
}


.btn-connect-wallet {
    width: 164px;
    height: 40px;
    background: #663EE6;
    border-radius: 4px;
    color: white;
    border: none;
    position: relative;
    z-index: 9999;
}

.btn-connect-wallet:hover,.btn-connect-wallet:focus,.btn-connect-wallet:active {
    background-color: #7254d4;
    color: white;
}

.mask{
    background: rgba(0,0,0,0.4) !important;
    z-index: 10;
    height: 100vh;
    position: fixed;
    width: 100vw;
    left: 0;
    top:0;
}

.radios label{
    background-color: #17172F !important;
    border-color: #4B4B63;
}
.radios .ant-radio-button-wrapper:first-child{
    border-left: 1px solid #4B4B63;
}
.formitem label{
    color: #fff !important;
}

.formtitle,.formtext{
    color: #fff !important;
}

