@font-face {
    font-family: "Montserrat-Regular";
    src: url('../../assets/fonts/montserrat/Montserrat-Regular.otf');
}

.App-logo {
    pointer-events: none;
    height: 36px;
    line-height: 36px;
    font-size: 24px;
    font-family: "Montserrat-Regular, Montserrat";
    font-weight: 400;
    color: #FFFFFF;
    background: url('../../assets/images/logo.png') no-repeat left center;
    padding-left: 35px;
}


.App-header {
    background-color: #17172F;
    height: 100px;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-bottom: 20px;
}

.flexbox {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


.header-inner {
    height: 100px;
    flex-direction: row;
}

.header-right {}

.btn-connect-wallet {
    width: 164px;
    height: 40px;
    background: #663EE6;
    border-radius: 4px;
    color: white;
    border: none;
}

.btn-connect-wallet:hover,.btn-connect-wallet:focus,.btn-connect-wallet:active {
    background-color: #7254d4;
    color: white;
}